---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { siteConfig } from '../../config/site';
import { projects } from '../../data/projects';
---

<BaseLayout title="Projects" description={`Projects by ${siteConfig.displayName}`}>
  <div class="icon-grid">
    {
      projects.map((project) => (
        <a href={`/projects/${project.slug}/`} class="finder-icon">
          <div class="icon-box">
            <img src={`/icons/${project.icon}`} alt="" class="icon-glyph" width="64" height="64" />
          </div>
          <span class="icon-label">{project.title}</span>
        </a>
      ))
    }
  </div>
</BaseLayout>
